/* HEADER SECTION */

header {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: #333;
}

header > * {
    height: 100%;
}

header > div {
    flex-grow: 1;
    margin: 0 10px;
    border: 1px solid white;
}

/* NAVBAR - HEADER SECTION */

nav {
    flex-grow: 6;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li {
    flex-grow: 1;
    margin: 5px;
    height: 100%;
    border: 1px solid white;
}

/* MAIN SECTION */

main {

}

.main-section {
    height: 200vh;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.7fr;
}

.main-section h1 {
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
    background-color: #fff;
}

.main-section > article {
    color: #fff;
    font-weight: 700;
    font-size: calc(1.375rem + 1.6vw);
    font-family: Mija; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.membership-section {
    height: 300px;
    /* background-color: blue; */
}

.latest-posts-section {
    height: 300px;
    /* background-color: black; */
}

.handbook-section {
    height: 300px;
    /* background-color: yellow; */
}

.community-links-section {
    height: 300px;
    /* background-color: green; */
}

.curated-posts-section {
    height: 300px;
    /* background-color: red; */
}

footer {
    height: 300px;
    /* background-color: aqua; */
}